[Desktop Entry]
Name=gNordVPN
Exec=/usr/bin/gnordvpn
Comment=NordVPN GUI Client
Terminal=false
Icon=/usr/share/icons/hicolor/scalable/apps/gnordvpn.svg
Type=Application
